.banner{
    display:flex;
}
.panel{
    position: relative;
    width: 200px;
    height:100px;
    font-size: 75px;
    overflow: hidden;
    background-color: #000000;
    color: rgb(155, 6, 6);
    display:grid;
    place-items: center;
    
}
.panel:hover {
    transform: scale(2);
    filter: hue-rotate(90deg);    
}
.panel::before {
    position: absolute;
    width: max-content;
}
.active, .collapsible:hover {
    background-color: rgb(155, 6, 6);
    color: black;
    text-shadow: 2px 2px 2px white;
  }
.collapsible{
      width:150px;
      height: 100px;
      background-color: black;
      color: white;
      position: relative;
      right: 250px;
      font-size: 25px;
  }
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:black;
    color:White;
    position: relative;
    bottom: 100px;
    text-shadow: 2px 2px 2px rgb(155, 6, 6);
    font-size: 25px;
  }



.body1{
  background-color:black;   
}
li:hover{
    opacity: 0.5;
}
#about #contact #work{
    background-color: black;
    transition: background-color 0.5s ease;
}
#contact{
    position: relative;
    top:100px;
}
#work{
    position: relative;
    top:250px;
}
#images{
    position: relative;
    top:40px;
}
#portfolio:hover{
    opacity: 0.5;
    
}
#code:hover{
    opacity: 0.5;
}
#weatherapi:hover{
    opacity: 0.5;
}
#gameSearch:hover{
    opacity: 0.5;
}
